<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mcbong.utility"
    android:versionCode="009"
    android:versionName="25102012.0.0.9" >

    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="16"/>
    
    <application android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:hardwareAccelerated="true">
        <activity android:name=".McBong" android:label="@string/app_name" android:theme="@android:style/Theme.Holo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>